.pokemon-card-entry {
  width: 180px;
  height: 180px;
  margin: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.pokemon-card-entry:hover {
  box-shadow: -1px 1px 15px 0px #8080807a;
}

.pokemon-card-sprite {
  top: 50%;
  left: 50%;
  transform: translate(25%, 5%);
  height: 156px;
  width: 156px;
}

.pokemon-card-number {
  float: right;
}

.pokemon-card-content {
  font-weight: bold;
}
