<app-spinner *ngIf="displaySpinner"></app-spinner>
<mat-drawer-container class="container" [hasBackdrop]="false">
  <mat-drawer
    #drawer
    mode="side"
    class="sidenav"
    [opened]="isMenuOpen"
  >
    <app-navigation></app-navigation>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <app-icon-animation
      startIcon="close"
      endIcon="menu"
      (iconClicked)="toggleMenu()"
    ></app-icon-animation>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
