<app-header [title]="title"></app-header>
<div class="new-team-header">
  <button mat-flat-button color="primary" (click)="goBack()">Back</button>
</div>
<div class="new-team-content">
  <div class="new-team-placeholder"></div>
  <div class="new-team-search">
    <mat-form-field class="example-form-field">
      <mat-label>Search for Pokemon</mat-label>
      <input #searchInput matInput type="text" [(ngModel)]="search">
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="pokemon-list">
      <div *ngFor="let pokemon of pokeList" class="pokemon-item">
        <img
          class="pokemon-card-sprite"
          mat-card-image
          [src]="pokemon.spriteUrl"
          [alt]="pokemon.name + 'sprite'"
        >
        {{ pokemon.name }}
        <div class="pokemon-types">
          <span *ngFor="let type of pokemon.types"
                [ngClass]="['type-class', type + '-color']"
          >
            {{ type }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
