<app-header [title]="title"></app-header>
<mat-form-field class="example-form-field">
  <mat-label>Search Pokemon</mat-label>
  <input #searchInput matInput type="text" [(ngModel)]="search">
  <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="pokedex-container">
    <app-pokemon-card *ngFor="let pokemon of filteredPokeList"
      [pokemon]="pokemon"
    ></app-pokemon-card>
</div>
